.general-div {
  margin-top: 30px;
  // display: flex;
  // justify-content: space-around;
}

#list-user {
  margin-bottom: 30px;
}

.cours-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.list-cours {
  padding: 10px;
  border: 2px solid #2A9CC8;
  box-shadow: 0 0 8px rgba(42,156,200,0.7);
  border-radius: 5px;
}

.label-radio {
  width: 100%;
  padding: 10px 70px;
  border-radius: 3px;
  margin-bottom: 0px !important;
}

.checked {
  background-color: #2A9CC8;
}

.radio-btn {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.add-btn {
  margin-left: 30px;
  color: #2A9CC8;
  font-size: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.div-cours-user {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.list-cours-user {
  list-style: none;
  padding: 10px;
  border: 2px solid #2A9CC8;
  box-shadow: 0 0 8px rgba(42,156,200,0.7);
  border-radius: 5px;
  margin-bottom: 10px !important;
  vertical-align: bottom;
}

.cours-user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px;
}

.delete-btn {
  color: #f93657;
  font-size: 25px;
  background-color: transparent;
  border: none;
}

.title-aut {
  font-weight: bold;
  margin-bottom: 0px !important;
}
