// INDEX /////////////////////////////
.card {
  background-color: #F9F9F9 !important;
  border: none !important;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.btn-link {
  text-decoration: none !important;
  color: black !important;
}

.card-header {
  background-color: #F9F9F9 !important;
  border: none !important;
}

.cat-link:hover {
  text-decoration: none;
}

.cours-link {
  text-decoration: none !important;
  color: black;
}

.cours-link:hover {
  text-decoration: none !important;
  color: black;
}

.cours-link:hover {
  text-decoration: none;
}

.title-cours {
  opacity: .8;
  margin: 20px 0px;
}

.all-cours {
  margin-bottom: 25px;
}

// NEW /////////////////////////////

.form-new-cours {
  background-color: #F9F9F9;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.title-tab {
  margin: 20px 0px;
  opacity: .8;
}

// SHOW ////////////////////////////
.bloc-cours {
  margin: 50px 0;
}

.matiere {
  opacity: .5;
}

.download p {
  margin-bottom: 0px;
}

.download {
  display: flex;
  align-items: center;
}

.file-img {
  font-size: 40px;
}

.cours-file {
  display: flex;
  align-items: center;
  color: black;
  padding: 5px 7px;
  border: 2px solid black;
  border-radius: 5px;
  opacity: .6;
  margin-left: 5px;
}

.cours-file:hover {
  text-decoration: none;
  opacity: .8;
  color: black;
}

.list-others-files {
  flex-wrap: wrap;
  display: flex;
}

.others-files {
  display: flex;
  align-items: center;
}

.btn-cours {
  display: flex;
  justify-content: center;
}
