// Index
.btn-link {
  text-decoration: none !important;
  color: black !important;
  opacity: .7 !important;
}

.cat-link:hover {
  text-decoration: none;
}

.cours-link {
  text-decoration: none !important;
  color: black;
}

.cours-link:hover {
  text-decoration: none !important;
  color: black;
}

.cours-link:hover {
  text-decoration: none;
}

.title-cours {
  opacity: .8;
  margin: 20px 0px;
}

.all-cours {
  margin-bottom: 25px;
}

// Show
.bloc-cours {
  margin-bottom: 30px;
}

.matiere {
  opacity: .6;
}

.download p {
  margin-bottom: 0px;
}

.download {
  display: flex;
  align-items: center;
}

.file-img {
  font-size: 40px;
}

.cours-file {
  display: flex;
  align-items: center;
  color: black;
  padding: 5px 7px;
  border: 2px solid black;
  border-radius: 5px;
  opacity: .6;
  margin-left: 5px;
}

.cours-file:hover {
  text-decoration: none;
  opacity: .8;
  color: black;
}

.btn-cours {
  display: flex;
  justify-content: center;
}
