.bg-deconnected {
  background: linear-gradient(0deg, #F9F9F9 50%, #2A9CC8 50%);
}

.en-tete {
  display: flex;
  align-items: center;
  padding: 10px 160px 30px 20px;
}

.logo-disconnected {
  width: 120px;
}

.title-disconnected {
  text-align: center;
  flex: 2;
  color: #F9F9F9;
}

.informations {
  border-radius: 3px;
  background-color: white;
  padding: 25px;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.connection {
  border-radius: 3px;
  background-color: white;
  padding: 25px;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

