<footer class="site-footer">
  <div class="general-div-footer">
    <div>
      <p>Site réalisé par <a href="http://lucasdubernard.com/" target="blank">Lucas Dubernard</a></p>
      <p>Copyright &copy; 2020 All Rights Reserved</p>
    </div>
    <div>
      <p><a href="<%= root_path %>">Accueil</a></p>
      <p><a href="<%= contact_path %>">Contacter Mme Lludriguez olivia</a></p>
    </div>
  </div>
</footer>
