<footer class="site-footer">
  <div class="general-div-footer">
    <div class="d-flex">
      <p class="link-footer"><a href="<%= root_path %>">Accueil</a></p>
      <p><a href="<%= contact_path %>">Contact</a></p>
    </div>
    <div class="d-flex">
      <p class="link-footer">Site réalisé par <a href="http://lucasdubernard.com/" target="blank">Lucas Dubernard</a></p>
      <p>Copyright &copy; 2020 All Rights Reserved</p>
    </div>
  </div>
</footer>
