<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <% if user_signed_in? %>
    <%= button_to "Les cours", cours_path, method: :get, class: "btn btn-secondary" %>
  <% end %>

  <div></div>

  <% if user_signed_in? %>
    <%= button_to "Gestion des utilisateurs", users_path, method: :get, class: "btn btn-secondary" %>
  <% end %>

  <div></div>

  <% if user_signed_in? %>
    <%= button_to "Déconnexion", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
  <% end %>
</div>
