.site-footer {
  background-color: #e8e8e8;
  color: #444444;
  padding: 20px 0px;
  font-size:13px;
  line-height:18px;
}

.site-footer a {
  color: #444444;
  font-weight: bold;
}

.site-footer a:hover {
  color: #b8babc;
  text-decoration: none;
}

.link-footer {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid grey;
}

// Position du footer

html{
  height:100%;
}

body{
  height:100%;
  position: relative;
}

#contenu{
  min-height:100%;
  position: relative;
}

#main{
  position: relative;
  padding-bottom: 170px;
}

footer{
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.site-footer {
  padding: 20px 30px 0px 30px;
}
